# Byte-Compiled / Optimized
__pycache__/

# Distribution / Packaging
build/
dist/
*.egg-info/
.gradle

# Environments
.venv/
venv/

# Linting / Formatting
.ruff_cache

# Visual Studio Code
.vscode

# Custom YML Files
mole/conf/*.yml
!mole/conf/001-settings.yml
!mole/conf/002-libc.yml

# Test Binaries
test/bin/