[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
packages = ["mole"]

[project]
name = "mole"
version = "0.0.7"
description = "A Binary Ninja plugin to identify interesting paths using static backward slicing"
authors = [
    {name = "Damian Pfammatter"},
    {name = "Sergio Paganoni"}
]
requires-python = ">=3.10"
dependencies = [
    "ijson==3.3.0",
    "lark==1.2.2",
    "networkx==3.4.2",
    "PyYAML==6.0.2",
    "termcolor==2.4.0",
]

[project.optional-dependencies]
develop = [
    "debugpy==1.8.1",
    "pre_commit==4.2.0",
    "ruff==0.9.9",
    "tomli==2.2.1"
]

[project.scripts]
mole = "mole.cli.main:main"

[tool.ruff.lint]
extend-select = ["TID"]