settings:
  max_call_level:
    name: max_call_level
    help: backward slicing visits called functions up to the given level
    value: 3
    min_value: -1
    max_value: 99
  highlight_color:
    name: highlight_color
    help: color used to highlight paths
    value: Red
    items:
    - Blue
    - Green
    - Cyan
    - Red
    - Magenta
    - Yellow
    - Orange
    - White
    - Black