settings:
  max_workers:
    name: max_workers
    help: maximum number of worker threads that backward slicing uses
    value: -1
    min_value: -1
    max_value: 256
  max_call_level:
    name: max_call_level
    help: backward slicing visits called functions up to the given level
    value: 3
    min_value: -1
    max_value: 99
  max_slice_depth:
    name: max_slice_depth
    help: maximum slice depth to stop the search
    value: -1
    min_value: -1
    max_value: 9999
  highlight_color:
    name: highlight_color
    help: color used to highlight paths
    value: Red
    items:
    - Blue
    - Green
    - Cyan
    - Red
    - Magenta
    - Yellow
    - Orange
    - White
    - Black
  grouping_strategy:
    name: grouping_strategy
    help: Strategy used to group paths
    value: Callgraph
    items:
    - None
    - Callgraph
    