settings:
  max_workers:
    name: max_workers
    help: maximum number of worker threads that backward slicing uses
    value: -1
    min_value: -1
    max_value: 256
  max_call_level:
    name: max_call_level
    help: backward slicing visits called functions up to the given level
    value: 3
    min_value: -1
    max_value: 99
  max_slice_depth:
    name: max_slice_depth
    help: maximum slice depth to stop the search
    value: -1
    min_value: -1
    max_value: 9999
  src_highlight_color:
    name: src_highlight_color
    help: color used to highlight instructions originating from slicing a source function
    value: Orange
    items:
    - Blue
    - Green
    - Cyan
    - Red
    - Magenta
    - Yellow
    - Orange
    - White
    - Black
  snk_highlight_color:
    name: snk_highlight_color
    help: color used to highlight instructions originating from slicing a sink function
    value: Red
    items:
    - Blue
    - Green
    - Cyan
    - Red
    - Magenta
    - Yellow
    - Orange
    - White
    - Black
  path_grouping:
    name: path_grouping
    help: Strategy used to group paths
    value: Call Graph
  ai_api_url:
    name: ai_api_url
    help: LLM Base URL
    value: "https://api.openai.com/v1"
  ai_api_key:
    name: ai_api_key
    help: LLM API key
    value: ""
  ai_model:
    name: ai_model
    help: LLM Model
    value: "o4-mini"